.back {
    height: 1200px;
    background-image: url('../../../img/10888.webp');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -50px;
}

.pizarron {
    width: 924px;
    height: 610px;
    position: relative;
    top:30%;
    left:18%;
}

.title {
    font-family: 'Crayon';
    color: white;
    display: block;
    font-size: 60px;
    position: relative;
    left: 34%;
}

.botones {
   display: flex;
   justify-content: space-around;
}

.boton {
    background: transparent;
    font-family: 'Crayon';
    font-size: 30px;
    border: transparent;
    color:white;
    padding-left: 5%;
    text-decoration: underline;
}
.boton:hover {
    transform: scale(1.3);
    color: lightgray
}

.board {
    width: 100%;
    height: 80%;
}
.inicio {
    color:white;
    text-align: center;
    font-family: 'Crayon';
    font-size: 70px;
    padding-top: 15%;

}