#gameBackground {
    background-image: url('../../img/gameBackground.webp');
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: 100% 100%;
    background-repeat: no-repeat;  
}
#cardZone {
    width: 40%;

}
#containerChat{
    width: 30%;
}
#points{
    background-image: url('../../img/puntos.webp');
    width: 30%;
    height: 60%;
    background-size: 100% 100%;
    margin: 20px;
    display: none;
    flex-direction: row;
    font-family: 'Crayon' ;
    color: white;
}
.cardsImg {
    width: 100%;
    height: 180px;
}
#cardsContainer{
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
ol{
    display: flex;
    justify-content: center;
}
#cardsContainer{
    min-height: 400px;
    min-width: 550px;
}
#rivalHand, #playerHand, #playerHandActive, .tableCards{
    padding: 5px 20px 5px 20px
}
#playerHandActive img:hover{
    transform : scale(1.1);
    cursor: pointer;
}
.btnBet, .btnBetNoTurn {
    /* width: 170px !important; */
    height: 80px;
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin: 5px;
    /* padding: 20px 50px 20px 50px; */
    font-family: 'Crayon' ;
    font-size: 30px;
    color: white;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background: transparent;
    /* box-shadow: 0px 0px 0px 2px rgb(255 255 255 / 16%) inset, 0px 0px 10px 0px #e48a3c; */
    background-image: url('../../img/button1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    font-size: large;
}
.btnBet:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform : scale(1.1);
}
.btnBetNoTurn{
    display: none;
}
.btnBetNoTurn:hover{
    cursor: default;
}
#points div{
    width: 50%;
}
#points div h2{
    text-align: center;
    padding-top: 5%;
    word-wrap: break-word;
}
#points div img{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 30px;
}
.btnOptions{
    /* width: 110px !important; */
    height: 40px;
    padding: 0 10px 0 10px;
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin: 2px;
    /* padding: 20px 50px 20px 50px; */
    font-family: 'Crayon' ;
    font-size: 15px;
    color: white;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background: transparent;
    /* box-shadow: 0px 0px 0px 2px rgb(255 255 255 / 16%) inset, 0px 0px 10px 0px #e48a3c; */
    background-image: url('../../img/button1.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
    /* font-size: large; */
}
.btnOptions:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform : scale(1.1);
}
@media screen and (max-width: 2560px) {
    .cardsImg {
        width: 220px;
        height: 180px;
    }
    .btnBet, .btnBetNoTurn {
        /* width: 200px !important; */
        font-size: larger;
        height: 80px;
        padding: 0px 15px 0px 15px;
    }
    #cardsContainer{
        min-height: 600px;
        min-width: 500px;
    }
    #points{
        width: 400px;
        height: 600px;
        top: 100px;
    }
}
@media screen and (max-width: 1980px) {
    .cardsImg {
        width: 200px;
        height: 170px;
    }
    .btnBet, .btnBetNoTurn {
        /* width: 200px !important; */
        font-size: larger;
        height: 80px;
    }
    #cardsContainer{
        min-height: 500px;
        min-width: 500px;
    }
    #points{
        width: 600px;
        height: 500px;
        top: 100px;
    }
}
@media screen and (max-width: 1440px) {
    .cardsImg {
        width: 150px;
        height: 160px;
    }
    .btnBet, .btnBetNoTurn {
        /* width: 180px !important; */
        font-size: larger;
        height: 50px;
    }
    #points{
        width: 25%;
        height: 60%;
        /* display: none; */
    }
    #points div h2{
        font-size: larger;
        padding: 20%;
    }
    #cardsContainer{
        min-height: 350px;
        min-width: 500px;
    }#cardZone {
        width: 50%;
    }
 
  }

  @media screen and (max-height: 750px) {
    .cardsImg {
        width: 130px;
        height: 120px;
    }
  }


  @media screen and (max-width: 1000px) {
    #gameBackground {
        background-image: url('../../img/gameBackground.webp');
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;    
    }
    #cardZone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
    }
    .cardsImg {
        width: 120px;
        height: 100px;
    }
    #points{
        display: none;
    }
    #cardsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80%;
    }
    .btnBet, .btnBetNoTurn {
        /* width: 80px !important; */
        height: 40px;
        font-size: xx-small;
    }
    #cardsContainer{
        min-height: 300px;
        min-width: 100%;
    }
    #containerChat{
        width: 100%;
    }
    #rivalHand, #playerHand, #playerHandActive, .tableCards{
        padding: 5px 10px 5px 10px
    }
    .betContainer{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .betContainer button{
        justify-self: center;
    }
    ol{
        padding: 0;
    }
    #points{
        width: 500px;
        height: 500px;
        top: 100px;
    }
  }
  @media screen and (max-width: 768px) {
    .cardsImg {
        width: 110px;
        height: 100px;
    }
    .btnBet, .btnBetNoTurn {
        /* width: 200px !important; */
        font-size: larger;
        height: 40px;
    }
    #cardsContainer{
        min-height: 300px;
        min-width: 500px;
    }
    #points{
        width: 400px;
        height: 500px;
        top: 100px;
    }
    #points{
        width: 400px;
        height: 500px;
        top: 100px;
    }
    
}

  @media screen and (max-width: 500px) {
    #gameBackground {
        background-image: url('../../img/gameBackground.webp');
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        
    }
    #cardZone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
    }
    .cardsImg {
        width: 85px;
        height: 80px;
    }
    #points{
        display: none;
    }
    #cardsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80%;
    }
    .btnBet, .btnBetNoTurn, .btnOptions {
        /* width: 80px !important; */
        height: 25px;
        font-size: x-small;
    }
    #cardsContainer{
        min-height: 180px;
        min-width: 100%;
    }
    #containerChat{
        width: 100%;
    }
    #rivalHand, #playerHand, #playerHandActive, .tableCards{
        padding: 5px 10px 5px 10px
    }
    .betContainer{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    ol{
        padding: 0;
    }
    #points{
        width: 200px;
        height: 500px;
    }
  }
  @media screen and (max-width: 320px) {
    #gameBackground {
        background-image: url('../../img/gameBackground.webp');
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        
    }
    #cardZone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -20px;
    }
    .cardsImg {
        width: 70px;
        height: 75px;
    }
    #points{
        display: none;
    }
    #cardsContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80%;
    }
    .btnBet, .btnBetNoTurn, .btnOptions {
        /* width: 80px !important; */
        height: 25px;
        font-size: x-small;
    }
    #cardsContainer{
        min-height: 180px;
        min-width: 100%;
    }
    #containerChat{
        width: 100%;
    }
    #rivalHand, #playerHand, #playerHandActive, .tableCards{
        padding: 5px 10px 5px 10px
    }
    .betContainer{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    ol{
        padding: 0;
    }
    #points{
        width: 200px;
        height: 500px;
    }
  }