#gameBackground {
    background-image: url('../../img/gameBackground.webp');
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
}

.cardsImg {
    width: 136px;
    height: 190px;
}

ol{
    display: flex;
    padding: 0;
    justify-content: center;
}

#cardsContainer{
    min-height: 400px;
}


#rivalHand, #playerHand, #playerHandActive, .tableCards{
    padding: 5px 20px 5px 20px
}


#playerHandActive img:hover{
    transform : scale(1.1);
    cursor: pointer;
}

.btnBet, .btnBetNoTurn {
    width: 200px !important;
    height: 90px;
    border: none;
    border-radius: 4px;
    text-shadow: 0px 0px 10px rgb(0 0 0 / 50%);
    margin: 10px;
    /* padding: 20px 50px 20px 50px; */
    font-family: 'Crayon' ;
    font-size: 30px;
    color: white;
    outline: none;
    cursor: pointer;
    -webkit-transition: background-position .7s,box-shadow .4s;
    transition: background-position .7s,box-shadow .4s;
    background: transparent;
    /* box-shadow: 0px 0px 0px 2px rgb(255 255 255 / 16%) inset, 0px 0px 10px 0px #e48a3c; */
    background-image: url('../../img/button1.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-decoration: none;
}

.btnBet:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform : scale(1.1);
}
.btnBetNoTurn:hover{
    cursor: default;
}

#points{
    background-image: url('../../img/puntos.webp');
    width: 480px;
    height: 800px;
    background-size: 100% 100%;
    margin: 20px;
}

#containerChat{
    width: 30%;
}