.mainDiv{
    background-image: url('../../img/Profile_bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 67%;
}

.subMainDiv{
    display: flex;
    flex-direction: column;
    margin-top: -65%;
}

.logoutBtn{
    position: absolute;
    right: 15px;
    padding: 3px;
    font-size: .8em;
    letter-spacing: 3px;
    opacity: 0.5;
    transition: opacity .45s;
    transition: transform .45s;

    border: none;
    top: 5px;
    border-radius: 5px;
    background-color: blue;
    visibility: hidden;
}

.logoutBtn::before {
    visibility: visible;
    color: white;
    content: 'Log out';
    opacity: 0.8;
    font-size: 16px;
    padding: 5px;
}

.logoutBtn:hover{
    opacity: 1;
    transition: transform .45s;
    transform: scale(1.1);
}

.player{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    margin: 20px;
}

.profileIcon{
    width: 150px;
}

.playerInfo{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2pc 15pc 2pc 15pc;
    color: #dedede;
}

.playerInfo_Games{
    display: flex;
    gap: 50px;
}

.friends{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-evenly;
    color: #dedede;
}

.friendsDiv{
    display: flex;
    flex-direction: column;
}

.friendsList{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
}

.lastResults{
    background-color: rgba(0, 0, 0, 0.6);
    color: #dedede;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    margin-left: 20px;;
    margin-right: auto;
    width: 100px;
    align-self: center;
    align-items: center;
}

.history{
    margin: auto;
}