.fondo {
        
        height: 750px ;
        background-image: url('../../img/ranking.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10%;
        margin-bottom: 0px;
        border: 1px solid black;
}

.cups{
   display: inline-flex;
   flex-direction: row;
   color : white;
   padding: 0 30px 0 30px;
}

.title {
        font-size: 60px;
        font-family: 'Crayon';
        color: black;
        text-shadow: white 1px 0 10px;
}