.fondo {
        
        height: 100% ;
        width: 100%;
        background-image: url('../../img/ranking.webp');
        background-size: cover;
        background-repeat: no-repeat;
        padding-top: 10%;
        margin-bottom: 0px;
}

.cups{
   display: flex;
   flex-direction: row;
   color : white;
   padding: 0 30px 0 30px;
   flex-wrap: wrap;
}

.title {
        font-size: 60px;
        font-family: 'Crayon';
        color: black;
        text-shadow: white 1px 0 10px;
}


@media screen and (max-width: 1200px) {
     .fondo {
             height: 1800px;
     }  
} 
