

.lobby{
    margin-top: -60%;
}

.subMainDiv_noGame{
    background-image: url('../../../img/DarkWood_bg.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: auto;
    height: 500px;
    padding-top: 67%;
}

.div_Chat_Rooms{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.div_CreateRoom_RoomsList{
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;

  
}

.subMainDiv_inGame{
    background-image: url('../../../img/woodBackground.webp');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 64%;
}

.game{
    margin-top: -60%;
}


.title {
    font-size: 60px;
    font-family: 'Crayon';
    color: white;
    text-shadow: black 1px 0 10px;
    padding-top: 20px;
}